
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f1f5f9;
    overflow: hidden;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #0ea5e9;
    top: 84%;
    left: 86%;
    animation-duration: 251s;
    animation-delay: -314s;
    transform-origin: -9vw -8vh;
    box-shadow: 4vmin 0 1.127725926244406vmin currentColor;
}
.background span:nth-child(1) {
    color: #f0f9ff;
    top: 54%;
    left: 64%;
    animation-duration: 104s;
    animation-delay: -211s;
    transform-origin: -11vw 16vh;
    box-shadow: -4vmin 0 0.8195831614967244vmin currentColor;
}
.background span:nth-child(2) {
    color: #0ea5e9;
    top: 95%;
    left: 13%;
    animation-duration: 463s;
    animation-delay: -115s;
    transform-origin: -12vw 9vh;
    box-shadow: 4vmin 0 0.6094736981980666vmin currentColor;
}
.background span:nth-child(3) {
    color: #0ea5e9;
    top: 74%;
    left: 29%;
    animation-duration: 394s;
    animation-delay: -441s;
    transform-origin: 9vw 6vh;
    box-shadow: -4vmin 0 0.8912619758169287vmin currentColor;
}
.background span:nth-child(4) {
    color: #0ea5e9;
    top: 69%;
    left: 29%;
    animation-duration: 307s;
    animation-delay: -478s;
    transform-origin: 9vw 18vh;
    box-shadow: 4vmin 0 1.1286494533007507vmin currentColor;
}
.background span:nth-child(5) {
    color: #bfdbfe;
    top: 60%;
    left: 98%;
    animation-duration: 290s;
    animation-delay: -440s;
    transform-origin: 0vw -15vh;
    box-shadow: -4vmin 0 1.080750437893278vmin currentColor;
}
.background span:nth-child(6) {
    color: #bfdbfe;
    top: 31%;
    left: 83%;
    animation-duration: 75s;
    animation-delay: -42s;
    transform-origin: -5vw -14vh;
    box-shadow: -4vmin 0 1.0236934231500492vmin currentColor;
}
.background span:nth-child(7) {
    color: #bfdbfe;
    top: 47%;
    left: 69%;
    animation-duration: 149s;
    animation-delay: -50s;
    transform-origin: 15vw 19vh;
    box-shadow: -4vmin 0 0.7791707898580076vmin currentColor;
}
.background span:nth-child(8) {
    color: #f0f9ff;
    top: 3%;
    left: 54%;
    animation-duration: 102s;
    animation-delay: -231s;
    transform-origin: -15vw 23vh;
    box-shadow: -4vmin 0 1.2246695124861706vmin currentColor;
}
.background span:nth-child(9) {
    color: #bfdbfe;
    top: 57%;
    left: 49%;
    animation-duration: 15s;
    animation-delay: -284s;
    transform-origin: -24vw -3vh;
    box-shadow: -4vmin 0 1.4706371503840472vmin currentColor;
}
.background span:nth-child(10) {
    color: #bfdbfe;
    top: 74%;
    left: 17%;
    animation-duration: 296s;
    animation-delay: -197s;
    transform-origin: -24vw -10vh;
    box-shadow: -4vmin 0 0.8052250157130325vmin currentColor;
}
.background span:nth-child(11) {
    color: #bfdbfe;
    top: 35%;
    left: 95%;
    animation-duration: 95s;
    animation-delay: -183s;
    transform-origin: 7vw 0vh;
    box-shadow: -4vmin 0 1.41640844305086vmin currentColor;
}
.background span:nth-child(12) {
    color: #f0f9ff;
    top: 52%;
    left: 97%;
    animation-duration: 440s;
    animation-delay: -141s;
    transform-origin: 21vw -14vh;
    box-shadow: 4vmin 0 1.3939533482663768vmin currentColor;
}
.background span:nth-child(13) {
    color: #f0f9ff;
    top: 32%;
    left: 36%;
    animation-duration: 423s;
    animation-delay: -453s;
    transform-origin: 19vw 4vh;
    box-shadow: -4vmin 0 0.8270416401136376vmin currentColor;
}
.background span:nth-child(14) {
    color: #bfdbfe;
    top: 39%;
    left: 85%;
    animation-duration: 374s;
    animation-delay: -67s;
    transform-origin: 4vw 17vh;
    box-shadow: 4vmin 0 1.2849369701748214vmin currentColor;
}
.background span:nth-child(15) {
    color: #f0f9ff;
    top: 47%;
    left: 78%;
    animation-duration: 294s;
    animation-delay: -142s;
    transform-origin: 14vw 1vh;
    box-shadow: 4vmin 0 0.7963463124596752vmin currentColor;
}
.background span:nth-child(16) {
    color: #0ea5e9;
    top: 40%;
    left: 29%;
    animation-duration: 50s;
    animation-delay: -33s;
    transform-origin: -9vw 7vh;
    box-shadow: -4vmin 0 1.073275386476993vmin currentColor;
}
.background span:nth-child(17) {
    color: #bfdbfe;
    top: 91%;
    left: 91%;
    animation-duration: 95s;
    animation-delay: -145s;
    transform-origin: 4vw -10vh;
    box-shadow: -4vmin 0 1.3043714865833291vmin currentColor;
}
.background span:nth-child(18) {
    color: #0ea5e9;
    top: 2%;
    left: 70%;
    animation-duration: 186s;
    animation-delay: -324s;
    transform-origin: -4vw 7vh;
    box-shadow: 4vmin 0 0.6058040770495063vmin currentColor;
}
.background span:nth-child(19) {
    color: #bfdbfe;
    top: 93%;
    left: 62%;
    animation-duration: 85s;
    animation-delay: -475s;
    transform-origin: -2vw -4vh;
    box-shadow: -4vmin 0 1.2295939484067526vmin currentColor;
}
.background span:nth-child(20) {
    color: #0ea5e9;
    top: 82%;
    left: 45%;
    animation-duration: 143s;
    animation-delay: -220s;
    transform-origin: -14vw -20vh;
    box-shadow: 4vmin 0 1.3208298680883213vmin currentColor;
}
.background span:nth-child(21) {
    color: #bfdbfe;
    top: 65%;
    left: 22%;
    animation-duration: 70s;
    animation-delay: -475s;
    transform-origin: -15vw 9vh;
    box-shadow: 4vmin 0 0.6139465002316082vmin currentColor;
}
.background span:nth-child(22) {
    color: #bfdbfe;
    top: 53%;
    left: 96%;
    animation-duration: 89s;
    animation-delay: -71s;
    transform-origin: 13vw 13vh;
    box-shadow: 4vmin 0 0.5174704816087679vmin currentColor;
}
.background span:nth-child(23) {
    color: #bfdbfe;
    top: 18%;
    left: 41%;
    animation-duration: 400s;
    animation-delay: -426s;
    transform-origin: -20vw 0vh;
    box-shadow: 4vmin 0 1.2917612344446732vmin currentColor;
}
.background span:nth-child(24) {
    color: #0ea5e9;
    top: 42%;
    left: 73%;
    animation-duration: 76s;
    animation-delay: -451s;
    transform-origin: -7vw 21vh;
    box-shadow: 4vmin 0 1.300168329024815vmin currentColor;
}
.background span:nth-child(25) {
    color: #f0f9ff;
    top: 68%;
    left: 21%;
    animation-duration: 30s;
    animation-delay: -418s;
    transform-origin: 12vw -13vh;
    box-shadow: 4vmin 0 1.3269123234642661vmin currentColor;
}
